.button {
    margin: 20px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.button:hover{
    text-decoration: none;
    color: inherit;
}

.button1{
    background-color: grey;
    color: white;
    font-weight: bold;
}

.button2{
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
    position: relative;
}

.button2:hover{
    color: white;
    background-color: darksalmon;
}

.button2:after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 19px solid darkslateblue;
    border-bottom: 22px solid transparent;
    border-top: 22px solid transparent;
    top: 0;
    right: -19px;
}

.button2:hover:after{
    border-left: 19px solid darksalmon;
}

.button3{
    border-left: 5px solid rebeccapurple;
    background-color: silver;
}

.button3:hover{
    border-left: 5px solid silver;
    background-color: rebeccapurple;
    color: white;
}

.button4{
    border-radius: 7px;
    background-color: lightseagreen;
    color: black;
    font-weight: bold;
}

.button4:hover{
    background-color: seagreen;
    color: white;
}

.button5 {
    border-radius: 7px;
    background-color: #FF9800;
    color: white;
    position: relative;
    padding-left: 50px;
    font-size: 22px;
}

.button5:before{
    position: absolute;
    top: 0;
    left: 0;
    content:'\f2dc';
    font-family: fontAwesome;
    padding: 10px;
    border-right: 3px solid white;
}

.button5:hover{
    background-color: #a06206;
    color: white;
}