
section {
    padding: 40px 0px;
}


.sticky {
    position: sticky;
    display: block;
    top: 0px;
    left: 0;
    z-index: 2;
}

.backhome {
    padding: 10px 20px;
    background-color: darkslategray;
    border-bottom: 3px solid black;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.backhome:hover{
    color: white;
}